@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-BlackItalic;
   src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Black;
   src: url("../fonts/Lato-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-BoldItalic;
   src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Bold;
   src: url("../fonts/Lato-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-HairlineItalic;
   src: url("../fonts/Lato-HairlineItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Hairline;
   src: url("../fonts/Lato-Hairline.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-HeavyItalic;
   src: url("../fonts/Lato-HeavyItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Heavy;
   src: url("../fonts/Lato-Heavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-LightItalic;
   src: url("../fonts/Lato-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;;
}
@font-face {
   font-family: Lato-MediumItalic;
   src: url("../fonts/Lato-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Medium;
   src: url("../fonts/Lato-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Regular;
   src: url("../fonts/Lato-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-SemiboldItalic;
   src: url("../fonts/Lato-SemiboldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Semibold;
   src: url("../fonts/Lato-Semibold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-ThinItalic;
   src: url("../fonts/Lato-ThinItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: Lato-Thin;
   src: url("../fonts/Lato-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
