.b1,.b2,.b3,.b4,.b5,.b6,.b7 {
	transition: background .8s;
	-webkit-transition: background .8s;
}
.b1 {
	background: transparent url("../img/backgrounds/b1.jpg") center/cover no-repeat fixed;
}
.b2 {
	background: transparent url(../img/backgrounds/b2.jpg) center/cover no-repeat fixed;
}
.b3 {
	background: transparent url(../img/backgrounds/b3.jpg) center/cover no-repeat fixed;
}
.b4 {
	background: transparent url(../img/backgrounds/b4.jpg) center/cover no-repeat fixed;
}
.b5 {
	background: transparent url(../img/backgrounds/b5.jpg) center/cover no-repeat fixed;
}
.b6 {
	background: transparent url(../img/backgrounds/b6.jpg) center/cover no-repeat fixed;
}
.b7 {
	background: transparent url(../img/backgrounds/b7.jpg) center/cover no-repeat fixed;
}
.cp1 {
	background: #ffffff url(../img/portfolio/1.jpg);
}
.cp2 {
	background: #ffffff url(../img/portfolio/2.jpg);
}
.cp3 {
	background: #ffffff url(../img/portfolio/3.jpg);
}
.cp4 {
	background: #ffffff url(../img/portfolio/4.jpg);
}
.cp5 {
	background: #ffffff url("../img/portfolio/5.jpg");
}
.cp6 {
	background: #ffffff url("../img/portfolio/6.jpg");
}
.cp7 {
	background: #ffffff url(../img/portfolio/7.jpg);
}
.cp8 {
	background: #ffffff url(../img/portfolio/8.jpg);
}
.cp9 {
	background: #ffffff url(../img/portfolio/9.jpg);
}
.cp10 {
	background: #ffffff url("../img/portfolio/10.jpg");
}
.cp11 {
	background: #ffffff url("../img/portfolio/11.jpg");
}
.c1 {
	background: #ffffff url("../img/sections/1.jpg")  bottom/cover no-repeat fixed;
}
.c2 {
	background: #ffffff url(../img/sections/2.jpg)  bottom/cover no-repeat fixed;
}
.c3 {
	background: #ffffff url(../img/sections/3.jpg) bottom/cover no-repeat fixed;
}
.c4 {
	background: #ffffff url(../img/sections/4.jpg)  bottom/cover no-repeat fixed;
}
.c5 {
	background: #ffffff url("../img/sections/5.jpg")  bottom/cover no-repeat fixed;
}
.c6 {
	background: #ffffff url(../img/sections/6.jpg)  bottom/cover no-repeat fixed;
}
.c7 {
	background: #ffffff url(../img/sections/7.jpg)  bottom/cover no-repeat fixed;
}
.c8 {
	background: #ffffff url(../img/sections/8.jpg)  bottom/cover no-repeat fixed;
}
.c9 {
	background: #ffffff url(../img/sections/9.jpg)  bottom/cover no-repeat fixed;
}
.c10 {
	background: #ffffff url(../img/sections/10.jpg)  bottom/cover no-repeat fixed;
}
.c11 {
	background: #ffffff url(../img/sections/11.jpg)  bottom/cover no-repeat fixed;
}
li.white-box {
    opacity: 0;
}
.serv1-icon,.serv2-icon,.serv3-icon,.serv4-icon,.serv5-icon,.serv6-icon,.serv7-icon,.serv8-icon ,.serv9-icon,.serv10-icon,.serv11-icon {
	margin: 10px auto;
    width: 60px;
    height: 60px;
    background-size: 575px;
}
.fa-google-plus {
    background-color: #EA4335 ;
}
.fa-twitter {
    background-color:#55ACEE;
}
.fa-facebook {
    background-color:#3B5998;
}
.icons {
	background-image:url('../img/icon/icons.png');
}
.right {
    float: right;
}
.logo {
	background-image:url('../img/logo/survs-company.png');
}
.ptr {
    width: 230px;
    float: left;
    margin: 0 20px;
    height: 90px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-size: 222px;
    background-repeat: no-repeat;
    transition: .2s;
		-webkit-transition: .2s;
}
.ptr:hover {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.blur {
	filter: blur(10px);
    -webkit-filter: blur(10px);
}
body,header, nav, footer {
	transition:.3s;
	-webkit-transition: .3s;
}
.partner-logo1 {
	background-image:url('../img/partners/logo1.png');
}
.partner-logo2 {
	background-image:url('../img/partners/logo2.png');
}
.partner-logo3 {
	background-image:url('../img/partners/logo3.png');
}
.partner-logo4 {
	background-image:url('../img/partners/logo4.png');
}
.mountain-icon {
	background-image:url('../img/icon/Mountain.png');
}
.geom-icon {
	background-image:url('../img/sections/geometry.png');
}
.geom-icon-rev {
	background-image:url('../img/sections/geometry180.png');
}
.p-i-p-ian {
	background-image: url(../img/portfolio/dev/ian.jpg);
}
.p-i-p-alan {
	background-image: url(../img/portfolio/dev/alan.jpg);
}
.p-i-p-jeciril {
	background-image: url(../img/portfolio/dev/jeciril.jpg);
}
.p-i-p-stephen {
	background-image: url(../img/portfolio/dev/stephen.jpg);
}
.p-i-p-deyrold {
	background-image: url(../img/portfolio/dev/deyrold.jpg);
}
.p-i-p-romart {
	background-image: url(../img/portfolio/dev/romart_mediante.jpg);
	background-position: -46px;
}
.surv-p {
	background-image:url('../img/header/survs-bluep.png');
	background-size: 580px;
    background-position: -41px;
		background-repeat-y: no-repeat;
}
.surv-p:hover {
	animation:marquee 5s infinite;
    animation-timing-function: cubic-bezier(0.02, 0.79, 0.54, 1.28);
}
unshow {
	visibility:hidden;
	z-index:-2;
}
@keyframes marquee{
from{
	background-position: 0px;
} to{
	background-position: 2000px;
	}
}

@-webkit-keyframes rotatebox {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotatebox {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.belize,nav.app-shell {
	background-color:#2980b9;
}
.peter,header {
	background-color:#3498db;
}
.asphalt {
	background-color:#34495e;
}
.green-sea {
	background-color:#34495e;
}
.text-white {
	color:white;
}
div.year {
    background-color: #34495e;
    margin-top: -5px;
    margin-left: 5px;
    border-radius: 4px;
    padding: 5px;
    font-family: lato;
    font-size: 12px;
    color: #ffffff;
}
.show-div {
	visibility:visible!important;
}
.body {
    filter: blur(20px);
		-webkit-filter: blur(20px);
}
.html::after {
	content: "Sorry, the prototype of Romart is not yet ready to be viewed by public.. Soon I will show it";
    background: #F44336;
    color: white;
    font-family: lato;
    padding: 32px;
    border-radius: 2px;
    position: absolute;
    top: 44%;
    left: 24%;
    box-shadow: 0 0 20px black;
}
.loaded {
    display: none!important;
}
.loader {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.83);
    z-index: 2;
}

/* Snackbar */
div.sb  {
    position: fixed;
    bottom: 40px;
    z-index: -2;
    width: 100%;
}
.sb-t {
	  z-index: 4 !important;
}
.snackbarText {
    padding: 5px;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 300px;
    margin: auto;
    background-color: #424242;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: relative;
    z-index: 4;
    font-size: 17px;
    top: 80%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.78);
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s;
    animation: fadein 0.5s, fadeout 0.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	float: left;
	margin-top: -33px;
	margin-left: 11px;
}

.d1, .d2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.d2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* Snackbar End */
