@import "ms.css";
@import "font-awesome.css";

@media (min-width:769px){
body {
	display:none;
}

html:after {
    display: block !important;
    content: "You are using the mobile version style, reload the page.";
    background-color: #f44336;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 30px;
}
}
