html {
	overflow:hidden;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

body {
	background-color:white !important;
	font-family: 'Roboto', 'Helvetica', sans-serif, lato-light;
	visibility:visible !important;
}
body.team-x {
	overflow-y: scroll;
	    overflow-y: auto;
	background-color: transparent !important;
}
body.sign-x, body.portfolio-x {
	overflow-y: auto;
}

body.portfolio-x>main {
	height: 100%;
}

main {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}
div.main {
    display: flex;
    width: 100%;
    height: 91.5%;
    position: fixed;
		margin-top: 58px;
}
.header-top {
    background-color: transparent;
}
header {
    background-color: transparent !important;
		position: fixed;
		height: 10%;
		z-index: 2;
		width: 100%;
    transition:.3s;
		-webkit-transition:.3s;
}
.head-shadow::after {
	content: "Survs";
	background: rgba(255, 0, 0, 0);
	width: 100%;
	color: transparent;
	z-index: -1;
	position: fixed;
	top: 0;
	height: 58px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.h {
			height: 100%;
}
div.sc-head {
	height:58px;
  display: flex;
	background-color: transparent;
	transition: .5s;
	-webkit-transition: .5s;
}
.sc-scroll {
	background-color: #3498db !important;
}
div.sc-logo {
    display: none;
}
div.sc-menu-btn {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 4px;
}
div.search-btn {
    width: 40px;
    height: 40px;
    background-size: 285px;
    background-position: -33px -34px;
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    transition:.2s;
		-webkit-transition:.2s;
    right: 0;
    margin: 9px;
}
div.search-i-toggle {
	background-position: 0px -34px !important;
}
.bar-click .bar-t {
    -webkit-transform: rotate(-45deg) translate(-3px, -4px);
    transform: rotate(-45deg) translate(-3px, -4px);
    width: 20px;
}
.bar-click .bar-b {
    -webkit-transform: rotate(45deg) translate(-3px, 4px);
    transform: rotate(45deg) translate(-3px, 4px);
    width: 20px;
}
div.bar-t {
    margin-top: 17px !important;
}
div.bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 4px auto;
    transition: 0.4s;
		-webkit-transition: 0.4s;
}
div.sc-title {
    font-size: x-large;
    color: white;
    width: 150px;
    margin-left: 5px;
    padding: 15px 10px;
}
div.sc-search {
    position: absolute;
    left: 5px;
    transition: .3s;
		-webkit-transition: .3s;
    top: -55px;
    opacity: 0;
}
div.sc-seach-show {
	top:0 !important;
	opacity:1 !important;
}
div.sc-search>div.icons {
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 17px;
    margin-left: 5px;
    background-size: 190px;
    background-position: 549px -24px;
}
div.sc-search>input {
	font-size: 15px;
    color: black;
    cursor: text;
    height: 40px;
    width: 100%;
    margin-top: 9px;
    background: #ffffff;
    border-style: none;
    padding: 12px;
    padding-left: 40px;
    border-radius: 2px;
    transition: .3s;
		-webkit-transition: .3s;
}
div.sc-search>input:focus {
    background: white;
    color: #3498db;
    outline-color: transparent;
}
/*Navigation Start*/
nav.app-shell {
	position: absolute;
    background-color: white !important;
    transition: .3s;
		-webkit-transition: .3s;
    margin-left: -100%;
    overflow: auto;
    overflow-x: hidden;
    width: 275px;
    height: 100%;
    z-index: 1;
    box-shadow: 1px 6px 5px black;
}
nav.app-shell::after {
    position: fixed;
    content: close-quote;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}
nav.nav-show {
	margin-left:0% !important;
}
a {
    color: white;
    text-decoration: none;
}
nav.app-shell:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.47);
}
nav>ul {
    margin: 0px;
    height: 100%;
    padding-left: 20px;
}
nav>ul>li {
    display: inline-flex;
    width: 100%;
}
.social-m {
    display: block;
    width: 100%;
    background: rgba(144, 143, 143, 0.78);
    padding: 14px;
}
.social {
    color: white;
    font-family: lato-bold;
}
.fa-google-plus,.fa-twitter,.fa-facebook {
    background: transparent !important;
}
ul.dropdown-social {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -6px;
    margin-right: -14px;
}
ul#drawer>li a {
	padding: 15px 9px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    color: #484848;
    font-family: lato;
}

ul#drawer>li>a:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
	-webkit-transition: 0s
}
ul#drawer>li>a:hover{
	border-bottom-style:solid;
	border-bottom-color:white;
}
nav.app-shell>ul>li.nav-cover {
    background-color: #3497db;
    background-image: url(../img/header/sunset.jpg);
    background-size: cover;
    margin-left: -21px;
    padding: 20px;
    height: 125px;
    width: 100%;
    color: white;
    font-size: larger;
}
/*Navigation End*/

/*Section Home */
#home {
    background-color: transparent;
		background-image: none !important;
    padding: 47px;
    height: 100%;
}
.intro-lead-in {
    font-size: xx-large;
    font-family: Lato-LightItalic;
}
.intro-heading {
	padding: 35px 15px;
    padding-bottom: 120px;
    margin: 85px -50px;
    font-size: 25px;
    text-align: center;
    font-family: lato-light;
    color: black;
    box-shadow: 0 -5px 9px rgba(0, 0, 0, 0.62);
}
.btn-head {
  text-align: center;
  margin-top: -150px;
}
.intro-text {
    margin-bottom: 25px;
		text-align: center;
}
a.btn-xl {
	background-color: #ffffff;
	color: black !important;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 0 20px black;
}
div.blur {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
		top:0;
		left:0;
    filter: blur(3px);
		-webkit-filter: blur(3px);
    z-index: -1;
}
/*Section Home End */
/*Section Services */
#services {
    background: linear-gradient(rgba(255, 0, 0, 0), #bbdefb);
    overflow: hidden;
		box-shadow: 0 0 20px black;
}
section#services>div.section-wrapper>div.label-sec {
    padding: 20px;
    font-size: x-large;
    font-family: lato;
    color: #34495e;
}
div.item {
	visibility:hidden;
    width: 180px;
    cursor:pointer;
    height: 180px;
    margin: 6px;
    display: inline-flex;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
div.item:hover {
	background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 0 11px 0px black;
}
div.item-wrapper {
	text-align:center;
}
div.item-description {
    margin-top: 8px;
    border-top-style: solid;
    border-top-width: thin;
    padding-top: 10px;
    margin: 10px;
    font-size: 17px;
    background: rgba(255, 0, 0, 0);
    height: 68px;
}
div.item-description::after {
	content: "...";
}
/*Diallog Contents */
.dialog-toggle{
	opacity:1 !important;
	z-index: 3 !important;
}
.dialog-contents {
	opacity: 0;
	    width: 95%;
	    z-index: -2;
	    position: fixed;
	    top: 70px;
	    right: 10px;
	    border-radius: 2px;
	    transition: .5s;
	    -webkit-transition: .5s;
	    background: rgba(0, 0, 0, 0.66);
	    box-shadow: 0 0 20px 0px black;
}
.dialog-content {
	box-shadow: 0 0 20px black;
	background-color: white;
	padding: 15px;
	font-family: lato;
	text-align: left;
	margin-top: 20px;
	position: relative;
	border-radius: 2px;
	overflow-y: auto;
}

.dialog-circ {
	background-size: 30px !important;
	background-repeat: no-repeat;
	background-color: #F44336 !important;
	background-image: url(../img/icon/hamburger-x.png) !important;
	background-position: center;
	width: 21px !important;
	height: 21px !important;
	position: fixed !important;
	padding: 15px;
	border-radius: 50% !important;
	bottom: 20px;
	right: 20px;
	z-index: 4 !important;
	transition: none;
	-webkit-transition: none;
	overflow: hidden !important;
}
.dialog-circ>div {
    display: none;
}
.dialog-circ:hover {
    box-shadow: none !important;
}
.glass {
	transition:.3s;
	-webkit-transition:.3s;
}
.glass-wrapper {
    background-color: rgba(0, 0, 0, 0.82);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
		left:0;
    z-index: 2;
}
.dialog-header {
    background: #9E9E9E;
    height: 100px;
    border-radius: 2px;
    width: 100%;
}
.p-item-label {
	position: absolute;
	left: 80px;
	top: 15px;
}
.p-item-name {
	font-size: 30px;
	font-family: lato;
	text-align: left;
	color: white;
}
.p-item-position {
	font-family: lato-italic;
	color: white;
	padding: 5px;
	height: 40px;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.51);
	text-overflow: ellipsis;
	box-shadow: 0 0 0px black;
}
.p-item-position::before {
    content: close-quote;
    top: 61px;
    padding: 25px;
    position: absolute;
    background: inherit;
    left: -50px;
    transform: perspective(12px) skewY(-45deg);
		-webkit-transform: perspective(12px) skewY(-45deg);
    z-index: 0;
}
.d-icon {
	position: absolute;
	    background-size: 595px;
	    background-position: -14px -162px;
	    width: 50px;
	    height: 50px;
	    top: 10px;
	    left: 12px;
}
.active {
    position: fixed;
    opacity: 0 !important;
    z-index: 4;
    background: white !important;
    top: 245px;
    right: 70px;
    box-shadow: 0 0 20px black;
    width: 57px !important;
    height: 57px !important;
    overflow: hidden ;
    border-radius: 50% !important;
}
.animatetop{
	animation:animatetop .8s;
	-webkit-animation:animatetop .8s;
}
@-webkit-keyframes animatetop{
from{
    transform: rotate(180deg) scale(0);
		-webkit-transform: rotate(180deg) scale(0);
    border-radius: 50%;
    opacity: 0;
} to{
	opacity:1
	}
}
@keyframes animatetop{
from{
    transform: rotate(180deg) scale(0);
		-webkit-transform: rotate(180deg) scale(0);
    border-radius: 50%;
    opacity: 0;
} to{
	opacity:1
	}
}
/*Section Services End */
/*Section About */
#about{
		background-color: #BBDEFB;
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: bottom;
	  height: 100%;
	  overflow-y: visible;
	  overflow-x: hidden;
}
section#about>div.section-wrapper>div.label-sec {
    padding: 20px;
    font-size: x-large;
    font-family: lato;
    color: #34495e;
}
div.about-content {
	padding: 50px;
	font-family: lato;
	color: #3b5998;
}
/*Section About End */
/*Section Partners */
#partners {
    background-color: rgba(0, 0, 0, 0.78);
		background-repeat: no-repeat;
		background-position: top right;
    height: auto;
		padding: 10px;
    overflow-y: visible;
    overflow-x: hidden;
		box-shadow: 0 0 20px black;
}
.partners-l {
		font-size: x-large;
	  font-family: lato;
	  color: #ffffff;
	  padding: 10px;
	  margin: -10px;
	  margin-bottom: 65px;
}
.ptr {
	filter: grayscale(0%) !important;
	-webkit-filter: grayscale(0%) !important;
	float: none!important;
}
.part-m {
    padding: 0;
		text-align: center;
    list-style-type: none;
}
.part-m>li a {
	padding: 31px 111px!important;
	margin: auto !important;
}
.part-m>li {
    height: 110px;
}
div.sec {
    padding: 22px;
}
/*Section Partners End */
/* Footer Start */
footer {
    background: #424242;
    color: #9e9e9e;
    bottom: 0px;
    padding: 16px 20px !important;
		box-shadow: 0 0 20px black;
}
footer>div.footer-margin>div.drop {
	float: none !important;
	margin: 0 15px;
}
footer>div.footer-margin>div.drop>div.d-content {
	display: none;
}
footer>div.footer-margin>div.drop>div.f-label {
    color: white;
    font-size: 14px;
    padding: 10px 0;
}
.f-label::after {
    background-image: url(../img/icon/aw24.png);
    background-size: cover;
    transform: rotate(90deg);
		-webkit-transform:rotate(90deg);
    transition: .3s;
		-webkit-transition: .3s;
    content: close-quote;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -20px;
}
.f-l::after {
	transform: rotate(-90deg)!important;
	-webkit-transform: rotate(-90deg)!important;
}
footer>div.footer-margin>div.footer-bottom>ul.footer-wrapper {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
footer>div.footer-margin>div.footer-bottom>ul.footer-wrapper>li {
    padding: 1px 15px;
    float: left;
}
footer>div.footer-margin>div.drop>div.d-content {
    display: none;
}
.show {
    display: block;
}
.show-s {
    display: block !important;
}
.survs-logo {
    width: 50px;
    height: 25px;
    margin-bottom: 24px;
    margin-right: 100%;
    margin-left: 14px;
    background-size: 80px;
}
/*Footer End */
/* Dialod defaults *
#signin, #portfolio, #team {
	position: fixed;
	z-index: -2;
	top: 0;
	width: 100%;
	height: 95.5%;
	opacity: 0;
	transition: 3s;
	visibility: visible !important;
	-webkit-transition: .3s;
	transition: .3s;
}
/* Sign in */


/* Sign in End */

/* Team Section*/

.team-show, .portfolio-show, .signin-show {
	opacity: 1 !important;
	z-index: 2 !important;
	transform: perspective(348px) rotateX(0deg) rotateY(0deg) !important;
	-webkit-transform: perspective(348px) rotateX(0deg) rotateY(0deg) !important;
	position: absolute;
}
div.portfolio-wrapper.portfolio-show {
		opacity: 1 !important;
   	z-index: initial !important; *
    transform: initial !important;
    -webkit-transform: initial !important;
    position: initial !important;
}
#team, #portfolio, #signin  {
		visibility: visible;
    opacity: 0;
    transform: perspective(348px) rotateX(90deg) rotateY(0deg);
		-webkit-transform: perspective(348px) rotateX(90deg) rotateY(0deg);
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.90);
    z-index: -2;
    top: 0;
		transition:.3s;
}

section#team>div.team-head, section#portfolio>div.portfolio-head,section#signin>div.signin-head {
	background-color: #2980b9;
	position: relative;
	height: 58px;
	transition: .3s;
	-webkit-transition: .3s;
	color: white;
	font-size: x-large;
	font-family: lato;
	box-shadow: 0 0 7px rgb(0, 0, 0);
}

section#team>div.label-sec,section#portfolio>div.label-sec,section#signin>div.label-sec {
    display: none;

}
.tm-menu-btn, .pm-menu-btn , .sn-menu-btn  {
    height: 58px;
    width: 58px;
    position: fixed;
		padding-top: 3px;
}

iframe.team-object,iframe.portfolio-object,iframe.signin-object {
    width: 100%;
  	height: 91.7%;
    border-width: 0px;
		background-color: transparent;
		transition: .3s;
		-webkit-transition:.3s;
}

.frame-overlay {
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
}

.tm-title,.pm-title,.sn-title {
	font-size: 25px;
	margin-left: 65px;
	position: absolute;
	top: 14px;
}
.dialog-t-contents {
    position: fixed;
    z-index: -2;
    opacity: 0;
    background-color:#fff;
		transition: .3s;
		-webkit-transition: .3s;
}

.p-i-label {
    background-color: white;
    height: 170px;
    padding: 10px;
		width: 100%;
    box-shadow: 0 0 20px black;
    background-repeat: no-repeat;
    font-family: lato;
		transition: .3s;
    background-color: #4CAF50;
}
.p-sc-label {
    height: 65px !important;
    position: fixed !important;
		background-color: #F44336 !important;
}
.dialog-t-toggle {
    opacity: 1!important;
    z-index: 2!important;
    top: 0;
    overflow-y: scroll;
    height: 100%;
}
.dialog-t-active {
    position: absolute;
    z-index: 3;
    background-color: #F44336 !important;
		background-image:url('../img/icon/hamburger-x.png')!important;
		background-size: 34px !important;
		background-repeat: no-repeat !important;
		background-position: 13px 13px !important;
    width: 58px !important;
    height: 58px !important;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 3px 6px black;
}
.dialog-t-active>span, .dialog-t-active>div {
	opacity: 0;
}
.p-item {
    background: transparent;
    margin: 25px auto;
		text-align: center;
		font-family: lato;
		color: white;
		padding: 1px;
    height: 245px;
    width: 245px;
}
.p-photo-wrapper .p-photo {
    width: 150px;
    height: 150px;
    margin: 12px auto;
    border-radius: 50%;
    background-size: cover;
}
.p-item span.name {
    font-size: x-large;
}
.p-s {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: contain;
    margin-left: 11px;
		margin-top: 3px;
		transition: .3s;
		-webkit-transition: .3s;
}
.p-sc {
    width: 50px !important;
    height: 50px !important;
    margin-top: 8px !important;
}
.namex {
    margin-left: 120px;
    font-size: x-large;
    color: white;
    position: absolute;
    top: 30px;
		transition: .3s;
		-webkit-transition: .3s;
}
.name-sc {
    font-size: larger;
    margin-left: 85px;
    margin-top: -8px;
}
.p-scs {
    color: white;
    position: absolute;
    margin-left: 120px;
    top: 65px;
		transition: .3s;
		-webkit-transition: .3s;
}
.pp-sc {
    margin-left: 83px !important;
    font-size: 13px !important;
    margin-top: -14px !important;
}
.soc-l>ul  {
    display: flex;
    list-style-type: none;
    margin-top: 18px;
}
.so-l {
    margin-top: -90px !important;
    float: right !important;
    margin-right: 30px !important;
}
.soc-l>ul>li a {
	padding: 20px;
}
.d-c-d {
	transition: .3s;
	-webkit-transition: .3s;
}
.d-sc-d {
    padding-top: 115px;
}
div.p-i-w {
    margin: 20px;
    background: #eeeeee;
    float: left;
    overflow: hidden;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.53);
}
div.label-title {
    font-family: lato;
    text-align: left;
    padding: 20px;
    font-size: x-large;
    color: #ffffff;
    background: #2980b9;
    margin: -20px;
    margin-bottom: 30px;
}
div.p-i-i1 {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #9e9e9e;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: lato;
    font-size: 13px;
}
div.p-i-i1>h1 {
    font-family: lato-light;
    font-size: 17px;
    color: #34495e;
    text-align: left;
}
div.p-i-i1>h6 {
    display: flex;
    max-width: 125px;
    font-family: lato;
    font-size: 13px;
    color: #34495e;
}
/* Team Section End */

/* Sign Start */
.form-wrapper {
    background: #eeeeee;
    padding: 15px;
    margin-top: -116px;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
		padding-bottom: 60px;
    box-shadow: 0 0 20px #211f1f;
}
.f-w {
	margin-top: 0px !important;
}
.s-help::after {
    content: "Help";
    background: #2980b9;
    color: white;
    font-size: 17px;
    font-family: lato;
    padding: 7px;
    padding-right: 40px;
    position: fixed;
    top: 13px;
    right: 0px;
		border-radius: 16px 0px 0px 16px;
		transition: .3s;
		-webkit-transition:.3s;
}
.s-h::after{
	content: "Close Help";
	background: white;
	color: #2980b9;
}
.form-input {
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #c1c1c1;
    border-width: 2px;
    padding: 4px;
    width: 90%;
    font-family: lato;
    font-size: 20px;
    outline: none;
    transition: .2s;
    margin-left: 12px;
    margin-top: 55px;
    transition: .5s;
    color: #424242;
}
.checkbox {
    margin: 10px;
    font-size: 15px;
    color: #34495e;
}
.form-icon {
    width: 100px;
    height: 100px;
    background-color: #2980b9;
    background-position: 113px 120px;
    background-size: 530px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: -27px;
    margin-top: 15px;
    box-shadow: 0px 1px 8px black;
}
.btn-send {
    background-color: #2980b9;
    width: 100%;
    border-radius: 2px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: lato;
    color: white;
    transition: .3s;
    margin-top: 60px;
}
.form-label {
    background-color: #eeeeee;
		font-size: 20px;
    color: #34495e;
    margin-top: 58px;
    left: 27px;
    padding: 3px 337px 0px 1px;
    position: absolute;
    font-family: lato;
    cursor: text;
    transition: .3s;
		-webkit-transition:.3s;
}
.form-label-in {
    margin-top: 36px !important;
    background: transparent !important;
    font-size: 14px !important;
}
.sign-in-btn>div {
	padding: 20px 8px;
	font-size: 16px;
	position: relative;
	transition: .3s;
	-webkit-transition: .3s;
	background-color: #2980b9;
}
/* Sign End */
/* Portfolio Start */
div.item-wrapper {
    text-align: center;
}
div.item-head-p {
    background-color: rgba(255, 255, 255, 0.60);
    color:black;
    font-family:lato;
    width: 100%;
    height: 10%;
    overflow: hidden;
    transition: .5s;
}
div.item-head-p:hover {
	height: 100%;
	color:white;
	background-color: rgba(0, 0, 0, 0.80);
}

div.item-head-p::after {
    position: absolute;
    width: 25px;
    margin-top: -206px;
    margin-left: -10px;
    transition: .5s;
    transform: rotate(90deg);
    background-size: 30px;
    background-position: -2px -2px;
    background-repeat: no-repeat;
    height: 25px;
    content: no-open-quote;
    background-image: url(../img/icon/a24.png);
}
div.item-head-p:hover::after {
	transform: rotate(180deg);
	background-image: url(../img/icon/a24-logo.png);
}
div.item-label-p {
    margin-top: 95px;
}
div.dialog-btn-p.item {
	visibility:visible;
	opacity:0;
	width: 300px !important;
	height: 300px !important;
	margin: 8px;
	transform: perspective;
	margin-left: -275px;
	background-size: 160%;
	background-repeat: no-repeat;
	transition:.3s;
}
div.dialog-btn-p.item:hover {
    animation: animatebg 10s infinite;
    animation-timing-function: ease-out;
}
.d-p-i {
	opacity:1 !important;
    transform: rotateY(0deg) !important;
    margin-left: 8px !important;
}
@keyframes animatebg{
1%{
	background-size: 235%;
    background-position: -30px -100px;
	}
50%{
    background-size: 235%;
    background-position: -400px -100px;
	}
100%{
    background-size: 160%;
    background-position: 0px 0px;
	}
}

div.dialog-contents-p {
    visibility: hidden;
    position: fixed;
}
/* Portfolio End */
header.header-top.blur {
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
		z-index: 1;
}
/* Dialog Activities */
/* Portfolio Start */
#portfolio {
    position: fixed;
    background: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: .3s;
    top: 0;
}
#portfolio>div.item-wrapper {
    margin-top: 45px;
    transition:.3s;
}
.portfolio-show {
    z-index: 3 !important;
    opacity: 1 !important;
}
div.item-head-p {
    background-color: rgba(255, 255, 255, 0.60);
    color:black;
    font-family:lato;
    width: 100%;
    height: 10%;
    overflow: hidden;
    transition: .5s;
}
div.item-head-p:hover {
	height: 100%;
	color:white;
	background-color: rgba(0, 0, 0, 0.80);
}

div.item-head-p::after {
    position: absolute;
    width: 25px;
    margin-top: -206px;
    margin-left: -10px;
    transition: .5s;
    transform: rotate(90deg);
    background-size: 30px;
    background-position: -2px -2px;
    background-repeat: no-repeat;
    height: 25px;
    content: no-open-quote;
    background-image: url(../img/icon/a24.png);
}
div.item-head-p:hover::after {
	transform: rotate(180deg);
	background-image: url(../img/icon/a24-logo.png);
}
div.item-label-p {
    margin-top: 95px;
}
div.dialog-btn-p.item {
	visibility:visible;
	opacity:0;
    width: 300px !important;
    height: 300px !important;
    margin: 8px;
    transform: rotateY(-37deg);
    margin-left: -275px;
    background-size: 160%;
    background-repeat: no-repeat;
    transition:.3s;
}
div.dialog-btn-p.item:hover {
    animation: animatebg 10s infinite;
    animation-timing-function: ease-out;
}
.d-p-i {
	opacity:1 !important;
    transform: rotateY(0deg) !important;
    margin-left: 8px !important;
}
@keyframes animatebg{
1%{
	background-size: 235%;
    background-position: -30px -100px;
	}
50%{
    background-size: 235%;
    background-position: -400px -100px;
	}
100%{
    background-size: 160%;
    background-position: 0px 0px;
	}
}
.portfolio-x>main>div.item-wrapper {
    text-align: center;
		display: block!important;
    height: 300px;
}
div.dialog-contents-p {
    visibility: hidden;
    position: fixed;
}
/* portfolio End */

div.dialog-activities {
	visibility: hidden;
}
/* Dialog Activities End */
@media (min-width:630px){

div.sc-search {
    width: 90% ;
}
}

@media (min-width:510px){
div.sc-search {
    width: 88% ;
}
}
@media (min-width:410px){
div.sc-search {
    width: 85%;
}
}
@media (max-width:400px){
div.sc-search {
    width: 80%;
}
}
@media (max-width:460px){
section#services {
  height: 350px;
}
@media (max-width:290px){
	nav.app-shell {
  width:222px;
	}
	.tm-title, .pm-title, .sn-title {
    font-size: 19px;
    top: 18px;
	}
	.p-item span.name {
    font-size: 18px;
	}
	.p-i-position {
    font-size: 12px;
	}
	address {
    font-size: 13px;
	}
	div.about-content {
    padding: 26px;
	}
}
.s-sec {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
}
div.item-wrapper {
	text-align: center;
	display: inline-flex;
	height: 300px;
}
}
@media (max-width:320px){
.so-l {
    margin-right: 14px !important;
}
@media (max-width:245px){
body {
	display:none;
}
html::after {
	content: "Smaller Screens are not supported!";
	    background: #F44336;
	    text-align: center;
	    color: white;
	    font-family: lato;
	    padding: 32px;
	    position: absolute;
	    box-shadow: 0 0 20px black;
}
.soc-l>ul>li a {
    padding: 8px;
    padding-top: 14px;
}
}
