html {
	overflow:hidden;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

body {
	background-color:white !important;
	font-family: 'Roboto', 'Helvetica', sans-serif, lato-light;
	visibility:visible !important;
}
main {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}
div.main {
    display: flex;
    width: 100%;
    height: 91.5%;
    position: fixed;
		margin-top: 58px;
}
.header-top {
    background-color: transparent;
}
header {
    background-color: transparent !important;
		position: fixed;
		height: 10%;
		z-index: 2;
		width: 100%;
    transition:.3s;
		-webkit-transition:.3s;
}
.head-shadow::after {
	content: "Survs";
	background: rgba(255, 0, 0, 0);
	width: 100%;
	color: transparent;
	z-index: -1;
	position: fixed;
	top: 0;
	height: 58px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.h {
			height: 100%;
}
div.sc-head {
	height:58px;
  display: flex;
	background-color: transparent;
	transition: .5s;
	-webkit-transition: .5s;
}
.sc-scroll {
	background-color: #3498db !important;
}
div.sc-logo {
    display: none;
}
div.sc-menu-btn {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 4px;
}
div.search-btn {
    width: 40px;
    height: 40px;
    background-size: 285px;
    background-position: -33px -34px;
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    transition:.2s;
		-webkit-transition:.2s;
    right: 0;
    margin: 9px;
}
div.search-i-toggle {
	background-position: 0px -34px !important;
}
.bar-click .bar-t {
    -webkit-transform: rotate(-45deg) translate(-3px, -4px);
    transform: rotate(-45deg) translate(-3px, -4px);
    width: 20px;
}
.bar-click .bar-b {
    -webkit-transform: rotate(45deg) translate(-3px, 4px);
    transform: rotate(45deg) translate(-3px, 4px);
    width: 20px;
}
div.bar-t {
    margin-top: 17px !important;
}
div.bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 4px auto;
    transition: 0.4s;
		-webkit-transition: 0.4s;
}
div.sc-title {
    font-size: x-large;
    color: white;
    width: 150px;
    margin-left: 5px;
    padding: 15px 10px;
}
div.sc-search {
    position: absolute;
    left: 5px;
    transition: .3s;
		-webkit-transition: .3s;
    top: -55px;
    opacity: 0;
}
div.sc-seach-show {
	top:0 !important;
	opacity:1 !important;
}
div.sc-search>div.icons {
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 17px;
    margin-left: 5px;
    background-size: 190px;
    background-position: 549px -24px;
}
div.sc-search>input {
	font-size: 15px;
    color: white;
    cursor: text;
    height: 40px;
    width: 100%;
    margin-top: 9px;
    background: #ffffff;
    border-style: none;
    padding: 12px;
    padding-left: 40px;
    border-radius: 2px;
    transition: .3s;
		-webkit-transition: .3s;
}
div.sc-search>input:focus {
    background: white;
    color: #3498db;
    outline-color: transparent;
}
/*Navigation Start*/
nav.app-shell {
	position: absolute;
    background-color: white !important;
    transition: .3s;
		-webkit-transition: .3s;
    margin-left: -100%;
    overflow: auto;
    overflow-x: hidden;
    width: 275px;
    height: 100%;
    z-index: 1;
    box-shadow: 1px 6px 5px black;
}
nav.app-shell::after {
    position: fixed;
    content: close-quote;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}
nav.nav-show {
	margin-left:0% !important;
}
a {
    color: white;
    text-decoration: none;
}
nav.app-shell:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.47);
}
nav>ul {
    margin: 0px;
    height: 100%;
    padding-left: 20px;
}
nav>ul>li {
    display: inline-flex;
    width: 100%;
}
.social-m {
    display: block;
    width: 100%;
    background: rgba(144, 143, 143, 0.78);
    padding: 14px;
}
.social {
    color: white;
    font-family: lato-bold;
}
.fa-google-plus,.fa-twitter,.fa-facebook {
    background: transparent !important;
}
.fa-google-plus::before {
	content: "Google Plus" !important;
	color:white;
}
.fa-twitter::before {
	content: "Twitter" !important;
	color:white;
}
.fa-facebook::before {
    content: "Facebook"!important;
    color:white;
}
ul.dropdown-social {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -6px;
    margin-right: -14px;
}
ul#drawer>li a {
	padding: 15px 9px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    color: #484848;
    font-family: lato;
}

ul#drawer>li>a:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
	-webkit-transition: 0s
}
ul#drawer>li>a:hover{
	border-bottom-style:solid;
	border-bottom-color:white;
}
nav.app-shell>ul>li.nav-cover {
    background-color: #3497db;
    background-image: url(../img/header/sunset.jpg);
    background-size: cover;
    margin-left: -21px;
    padding: 20px;
    height: 125px;
    width: 100%;
    color: white;
    font-size: larger;
}
/*Navigation End*/
