html {
	overflow:hidden;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
section {
    height: 100%;
    width: 100%;
}
body {
	background-color:white !important;
	font-family: 'Roboto', 'Helvetica', sans-serif, lato-light;
	visibility:visible !important;
}
main {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}
div.search-btn {
	display:none;
}
div.main {
    display: flex;
    width: 100%;
    height: 86.5%;
    position: fixed;
}
header {
    background-color: rgba(255, 255, 255, 0.44);
    box-shadow: 0 0 9px black;
    margin-bottom: 32px;
}
div.sc-head {
	display:flex;
	height:58px;
}
div.sc-logo {
    background-size: 252px;
    background-position: 154px 49px;
    margin-top: 4px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
div.sc-logo:hover {
    background-size: 209px;
    background-position: 469px 157px;
}
div.sc-title {
    font-size: x-large;
    color: white;
    margin-left: 5px;
    padding-top: 15px !important;
    padding: 10px;
}
div.sc-search {
    position: absolute;
    right: 22px;
}
div.sc-search>div.icons {
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 17px;
    margin-left: 5px;
    background-size: 190px;
    background-position: 549px -24px;
}
div.sc-search>input {
	font-size: 15px;
    color: white;
    cursor: text;
    height: 40px;
    width: 180px;
    margin-top: 9px;
    background: rgba(255, 255, 255, 0.52);
    border-style: none;
    padding: 12px;
    padding-left: 40px;
    border-radius: 2px;
    transition: .3s;
}
div.sc-search>input:focus {
    background: white;
    color: #3498db;
    outline-color: transparent;
    width: 400px;
}
/*Navigation Start*/
nav.app-shell {
	position: absolute;
	transition:.3s;
	width: 100%;
	z-index: 1;
}
.app-hide {
	z-index: 0!important;
}
a {
    color: white;
    text-decoration: none;
}
nav.app-shell:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.47);
}
nav>ul {
    margin: 0px;
}
nav>ul>li {
    display: inline-flex;
}
ul#drawer>li a {
	padding: 5px 14px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	position: relative;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}
ul#drawer>li>a:after {
	content: "";
	right: 0px;
	bottom: 0px;
	border-top-left-radius: 200%;
	background: rgba(255, 255, 255, 0.60);
	display: block;
	position: absolute;
	padding: 100%;
	margin-left: -20px;
	margin-top: -120%;
	opacity: 0;
	transition: .8s;
}
ul#drawer>li>a:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}
ul#drawer>li>a:hover{
	border-bottom-style:solid;
	border-bottom-color:white;
}
ul {
    list-style-type: none;
}
.nav-cover {
	display: none;
}
.nav-top {
    background-color: rgba(0, 0, 0, 0.21) !important;
}
.header-top {
    background-color: rgba(0, 0, 0, 0.28) !important;
    box-shadow: none;
}
div.blur {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    filter: blur(3px);
    z-index: -1;
}
div.pol {
    border-style: solid;
    border-color: #ffffff;
    margin-top: -3px;
    width: 800px;
    margin-left: -272px;
    height: 800px;
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 0 20px 0px black;
    transform: rotate(136deg);
    overflow: hidden;
}
div.poly {
    width: 800px;
    height: 800px;
    transform: rotate(-136deg);
}
div.intro-lead-in {
    font-size: 40px;
    margin-top: 30px;
    font-family: lato-light;
    animation:animateright 2s;
}
div.intro-text {
    position: fixed;
    overflow: hidden;
    transform: rotate(-136deg);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px black;
    height: 200px;
    border-style: solid;
    border-color: white;
    margin: -687px -334px;
    padding: 20px;
    width: 100%;
}
.btn-xl {
    position: absolute;
    background-color: #2196F3;
    padding: 18px;
    margin-top: 40px;
    border-radius: 2px;
    margin-left: 325px;
    transition:.3s;
    animation:animateshow 2s;
}
.btn-xl:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 14px black;
}
.btn-scroll-top {
    z-index: 2;
    position: fixed;
    width: 57px;
    height: 57px;
    background: rgb(255, 255, 255);
    background-image: url(../img/icon/aleft.png);
    background-size: 45px;
    background-position: 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition:.3s;
    bottom: 70px;
	right: -60px;
    transform: rotate(90deg);
}
.btn-scroll-top:hover {
	box-shadow: 0 0 20px black;
}
.btn-scroll-show {
    right: 35px;
}
.show {
	visibility:visible!important;
}
.team-head {
	display: none!important;
}
.animatetop{
	animation:animatetop .8s;
}
@keyframes animatetop{
from{
    transform: rotate(180deg) scale(0);
    border-radius: 50%;
    opacity: 0;
} to{
	opacity:1
	}
}
@keyframes animatebottom{
from{
	bottom:-300px;opacity:0
} to{
	bottom:0;opacity:1
	}
}
@keyframes animateright{
from{
	margin-left: 540px;
    opacity:0
} to{
	text-align: left;
	margin-left:0px;
    opacity:1
	}
}
@keyframes animateleft{
from{
	margin-left:-235px;
    opacity:0
} to{
	text-align: left;
	margin-left:0px;
    opacity:1
	}
}
@keyframes animateshow{
from{
    opacity:0
} to{
    opacity:1
	}
}
div.intro-heading {
    font-family: lato-italic;
    font-size: x-large;
    animation: animateleft 2s;
}

/*Navigation End*/
/*About Start*/
#about {
	position: relative;
    background-color: #BBDEFB;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right bottom;
    overflow: hidden;
}
div.about-content {
    margin: 40px;
    margin-right: 240px;
    color: #424242;
    font-family: lato;
}
div#about>div.section-wrapper {
    margin-top: 60px;
}
div.label-sec {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: lato-light;
}
/*About End*/
/*Services Start*/
#services {
    position: relative;
    height: inherit;
    background: linear-gradient(rgba(255, 0, 0, 0), #bbdefb);
}
/*Services End*/
/*Footer Start*/
footer {
    background: #424242;
    color: #9e9e9e;
    position: relative;
    overflow: auto;
    bottom: 0px;
    padding: 16px 40px;
    transition: .5s;
    box-shadow: 0 0 19px black;
}
footer:hover {
    box-shadow: 0 0 15px black;
}
footer>div.footer-margin>div.drop {
    float: left;
    margin: 0 15px;
}
footer>div.footer-margin>div.drop>div.f-label {
    color: white;
    font-size: 14px;
    padding: 10px 0;
}
footer>div.footer-margin>div.drop>div.d-content {
    font-size: 14px;
}
footer>div.footer-margin>div.footer-bottom>ul.footer-wrapper {
    display: inline-block;
    padding: 0;
    width: 100%;
}
footer>div.footer-margin>div.footer-bottom>ul.footer-wrapper>li {
    padding: 1px 15px;
    float: left;
}
/*Footer End*/

/*Services Start*/

span.title {
    font-family: lato;
    font-size: 20px;
}
.serv1-icon {
    background-position: -6px -150px;
}
.serv2-icon {
    background-position: 501px 281px;
}
.serv3-icon {
    background-position: 497px -150px;
}
.serv4-icon {
    background-position: 641px 652px;
}
.serv5-icon {
    background-position: 939px 638px;
}
.serv6-icon {/*Globe*/
    background-position: 917px 784px;
}
.serv7-icon {/*Check*/
    background-position: 917px 784px;
}
.serv8-icon {
    background-position: 1578px 858px;
}
.serv9-icon {
    background-position: 1383px 858px;
}
.serv10-icon {
    background-position: 1358px 1003px;
}
.serv11-icon {
    background-position: 235px -73px;
}
div.item {
	visibility:hidden;
    width: 180px;
    cursor:pointer;
    height: 180px;
    margin: 6px;
    display: inline-flex;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
div.item:hover {
	background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 0 11px 0px black;
}
div.item-wrapper {
	text-align:center;
}
div.item-description {
    margin-top: 8px;
    border-top-style: solid;
    border-top-width: thin;
    padding-top: 10px;
    margin: 10px;
    font-size: 17px;
    background: rgba(255, 0, 0, 0);
    height: 68px;
}
div.item-description::after {
	content: "...";
}
#services>div.section-wrapper>div.section-margin {
    margin-top: 40px;
}

/*Diallog Contents */
.dialog-toggle{
	opacity:1 !important;
	z-index: 3 !important;
}
.dialog-contents {
    opacity: 0;
    width: 50%;
    left: 27%;
    z-index: -2;
    height: 61%;
    position: fixed;
    top: 20px;
    display: inline-block;
    border-radius: 2px;
    transition: .5s;
    background: rgba(0, 0, 0, 0.66);
    box-shadow: 0 0 20px 0px black;
}
.dialog-content {
    box-shadow: 0 0 20px black;
    background-color: white;
    padding: 50px;
    font-family: lato;
    text-align: left;
    height: 57%;
    border-radius: 2px;
    overflow-y: scroll;
}
.dialog-circ {
    background-size: 515px !important;
    background-position: 247px 148px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url(../img/icon/icons.png) !important;
    width: 21px !important;
    height: 21px !important;
    position: fixed !important;
    top: 24px !important;
    right: 24% !important;
    z-index: 4 !important;
    transition:none;
    overflow: hidden !important;
}
.dialog-circ:hover {
    box-shadow: none !important;
}
.glass {
	transition:.3s;
}
.glass-wrapper {
    background-color: rgba(0, 0, 0, 0.82);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
.dialog-header {
    background: #9E9E9E;
    height: 281px;
    border-radius: 2px;
    width: 100%;
}
.p-item-label {
    position: absolute;
    left: 40px;
    top: 170px;
}
.p-item-name {
    font-size: -webkit-xxx-large;
    text-align: left;
    color: white;
}
.p-item-position {
    font-family: lato-italic;
}
.d-icon {
    position: absolute;
    background-size: 970px;
    background-position: -5px -253px;
    width: 100px;
    height: 100px;
    top: 39px;
    left: 30px;
}
.active {
    position: fixed;
    opacity: 0 !important;
    z-index: 4;
    background: white !important;
    top: 245px;
    right: 70px;
    box-shadow: 0 0 20px black;
    width: 57px !important;
    height: 57px !important;
    overflow: hidden ;
    border-radius: 50% !important;
}
/*Footer Start */
.survs-logo {
    width: 60px;
    margin-top: -8px;
    height: 30px;
    float: right !important;
    background-size: 85px;
    background-repeat: no-repeat;
}
/* Social */
.dropdown-social {
	position: absolute;
    padding: 0;
    top: 37px;
    margin-left: 13px;
    transform: rotateX(62deg);
    opacity: 0;
    transition: .5s;
    padding-top: 84px;
    margin-top: -84px;
}
.dropdown-social:hover {
    opacity: 1;
    transform: rotateX(0deg) !important;
}

ul.dropdown-social>li a {
    background: rgba(0, 0, 0, 0.51);
    box-shadow: 0 0 3px black;
    width: 100%;
    height: 100%;
    margin-left: -8px;
    text-align: center;
}
/*Partners Start */
#partners {
    height: 66%;
    background-color: #03A9F4;
    background-position: top right;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px black;
    position: relative;
    margin-top: -1px;
    overflow: hidden;
}
.partners-l {
    color: white;
    padding-top: 17px !important;
    text-align: left !important;
    margin-left: 20px;
}
/*Partners End */
/* Sign In Start  */
#signin {
	position: fixed;
    background: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: .3s;
    top:0;
}
.signin-show {
    z-index: 3 !important;
    opacity: 1 !important;
}
.form-sign-in {
    height: 100%;
}
.form-input {
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #c1c1c1;
    border-width: 2px;
    padding: 4px;
    width: 90%;
    font-family: lato;
    font-size: 20px;
    outline: none;
    transition: .2s;
    margin-left: 12px;
	margin-top: 55px;
    transition:.5s;
    color: #424242;
}
.form-input:focus {
    border-bottom-color: #00BCD4;
}
.form-label {
    background-color: #eeeeee;
    font-size: 20px;
	color: #34495e;
    margin-top: 58px;
    margin-left: -387px;
    padding: 3px 337px 0px 1px;
    position: absolute;
    font-family: lato;
    cursor: text;
    transition:.3s;
}
.form-label-in {
    margin-top: 37px;
    background-color: transparent;
    font-size: 15px;
}
.sign-in-btn,.team-in-btn,.portfolio-in-btn,.portfolio-in-btn {
background-size: 515px !important;
    background-position: 265px 165px !important;
    background-image: url(../img/icon/icons.png) !important;
    width: 57px !important;
    height: 57px !important;
    background-color: #F44336;
    border-radius: 50%;
    z-index: 4 !important;
    overflow: hidden !important;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: 0 0 20px black;
    cursor: pointer !important;
}
.remove {
	display:none;
}
#signin>div.label-sec,#team>div.label-sec,#portfolio>div.label-sec {
    padding-top: 20px !important;
    text-align: left !important;
    color: white !important;
    padding-left: 25px !important;
}
.form-wrapper {
    background: #eeeeee;
    width: 420px;
    height: 420px;
	margin: 40px auto;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 0 19px black;
}
.checkbox {
    margin: 10px;
    font-size: 15px;
    color: #34495e;
}
.fgt {
    margin-top: 75px;
    background-image: none !important;
	background-color: #FF9800 !important;
    font-family: lato;
    color: white;
    cursor: pointer !important;
    transition:.3s;
}
.na {
    margin-top: 150px !important;
    background-image: none !important;
	background-color: #8BC34A !important;
    font-family: lato;
    color: white;
    cursor: pointer;
    transition:.3s;
}

.sign-in-btn>div {
    padding: 20px 8px;
    font-size: 16px;
    position: relative;
    opacity: 0;
    transition: .3s;
}
.sign-in-btn>div:hover {
	opacity:1;
}
.fgt:hover,.na:hover {
    width: 150px !important;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.btn-send {
    background-color: #2980b9;
    width: 100%;
    border-radius: 2px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: lato;
    color: white;
    transition:.3s;
    margin-top: 60px;
}
.btn-send:hover {
    background-color: #00bcd4;
}
.form-icon {
    width: 100px;
    height: 100px;
    background-color: #2980b9;
    background-position: 113px 120px;
    background-size: 530px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: -27px;
    margin-top: 15px;
    box-shadow: 0px 1px 8px black;
}
/* Sign In End  */
/* Team start */
#team {
    position: fixed;
    background: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: auto;
    opacity: 0;
    transition: .3s;
    top: 0;
}
.team-show {
    z-index: 3 !important;
    opacity: 1 !important;
}
.team-o {
    overflow: hidden !important;
}
.portfolio-wrapper {
    text-align: center;
    margin-top: 45px;
}
div.label-title {
    font-family: lato;
    text-align: left;
    padding: 20px;
    font-size: x-large;
    color: #ffffff;
    background: #2980b9;
    margin: -20px;
    margin-bottom: 30px;
}
div.p-i-w {
	margin: 20px;
    background: #eeeeee;
    width: 415px;
    float: left;
    overflow: hidden;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.53);
}
.d-c-d {
    overflow-y: scroll;
    margin-top: -15px;
    height: inherit;
    padding-left: 336px;
}
div.p-i-i1 {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #9e9e9e;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: lato;
    font-size: 13px;
}
div.p-i-i1>h1 {
    font-family: lato-light;
    font-size: 17px;
    color: #34495e;
    text-align: left;
}
div.p-i-i1>h6 {
    display: flex;
    max-width: 125px;
    font-family: lato;
    font-size: 13px;
    color: #34495e;
}
div.social {
    margin-top: 70px;
}
div.social>ul {
    padding: 0;
    display: inline-flex;
    text-align: center;
}
div.social>ul>li {
    margin: 10px;
}
div.social>ul>li>a {
    font-size: 25px;
    background-color: transparent !important;
}
div.social>ul>li>a.fa-google-plus:hover {
    color: #EA4335 !important;
}
div.social>ul>li>a.fa-twitter:hover {
    color:#55ACEE !important;
}
div.social>ul>li>a.fa-facebook:hover {
    color:#3B5998 !important;
}
.p-item {
	width: 270px;
    margin: 20px;
    height: 275px;
    overflow:hidden;
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 10px;
    transition:.3s;
}
.p-item:hover {
    border-color: white;
}
span.name {
    font-family: lato;
    font-size: x-large;
    color: white;
}
div.p-i-position {
    font-family: lato;
    color: rgba(238, 238, 238, 0.73);
}
div.p-photo-wrapper {
    width: 270px;
    padding-top: 19px;
    height: 173px;
    margin-bottom: 16px;
    background-size: cover;
}
div.p-photo {
    width: 150px;
    height: 150px;
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    transition:.2s;
}
div.p-photo:hover::after {
    position: absolute;
    background-color: #fff;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    margin-left: -135px;
    margin-top: 138px;
    width: 101px;
    background-size: 81px;
    background-position: 8px 4px;
    background-repeat: no-repeat;
    height: 37px;
    content: no-open-quote;
    background-image: url(../img/logo/survs-company.png);
    box-shadow: 0px 0px 12px black;
}

div.p-photo:hover {
    width: 100%;
    height: 111%;
    border-radius: initial;
    background-size: cover;
    margin-top: -19px;
    box-shadow: 0 0 20px black;
}
.dialog-t-active {
    position: fixed;
    z-index: 5;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(../img/icon/icons.png);
    background-size: 260px;
    background-position: -6px 189px;
    background-color: #000;
}
.dialog-t-active:hover {
    background-color: #ea4335;
}
.dialog-t-toggle {
    opacity: 1 !important;
    z-index: 4 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    background-color: rgba(255, 255, 255, 0.96) !important;
    left: 0 !important;
    padding-top: 15px !important;
}
.p-i-label {
    background-color: #424242;
    position: absolute;
    top: 0;
		max-width: 260px;
    padding: 60px 38px;
    height: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0 0 20px black;
}
.p-i-label::after {
    position: absolute;
    top: 13px;
    margin-left: 45px;
    width: 101px;
    background-size: 81px;
    background-position: 8px 4px;
    background-repeat: no-repeat;
    height: 37px;
    content: no-open-quote;
    background-image: url(../img/logo/survs-company.png);
    box-shadow: 0 0 0px black;
}
.p-s {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    margin: 40px auto;
    box-shadow: 0 0 16px black;
}
div.dialog-t-contents {
	opacity: 0;
    width: 50%;
    left: 27%;
    z-index: -2;
    height: 61%;
    position: fixed;
    top: 20px;
    display: inline-block;
    border-radius: 2px;
    transition: .5s;
    background: rgba(0, 0, 0, 0.66);
    box-shadow: 0 0 20px 0px black;
}
/* Team End */
/* Portfolio Start */
#portfolio {
    position: fixed;
    background: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    overflow-y:scroll;
    transition: .3s;
    top: 0;
}
#portfolio>div.item-wrapper {
    margin-top: 45px;
    transition:.3s;
}
.portfolio-show {
    z-index: 3 !important;
    opacity: 1 !important;
}
div.item-head-p {
    background-color: rgba(255, 255, 255, 0.60);
    color:black;
    font-family:lato;
    width: 100%;
    height: 10%;
    overflow: hidden;
    transition: .5s;
}
div.item-head-p:hover {
	height: 100%;
	color:white;
	background-color: rgba(0, 0, 0, 0.80);
}

div.item-head-p::after {
    position: absolute;
    width: 25px;
    margin-top: -206px;
    margin-left: -10px;
    transition: .5s;
    transform: rotate(90deg);
    background-size: 30px;
    background-position: -2px -2px;
    background-repeat: no-repeat;
    height: 25px;
    content: no-open-quote;
    background-image: url(../img/icon/a24.png);
}
div.item-head-p:hover::after {
	transform: rotate(180deg);
	background-image: url(../img/icon/a24-logo.png);
}
div.item-label-p {
    margin-top: 95px;
}
div.dialog-btn-p.item {
	visibility:visible;
	opacity:0;
    width: 300px !important;
    height: 300px !important;
    margin: 8px;
    transform: rotateY(-37deg);
    margin-left: -275px;
    background-size: 160%;
    background-repeat: no-repeat;
    transition:.3s;
}
div.dialog-btn-p.item:hover {
    animation: animatebg 10s infinite;
    animation-timing-function: ease-out;
}
.d-p-i {
	opacity:1 !important;
    transform: rotateY(0deg) !important;
    margin-left: 8px !important;
}
@keyframes animatebg{
1%{
	background-size: 235%;
    background-position: -30px -100px;
	}
50%{
    background-size: 235%;
    background-position: -400px -100px;
	}
100%{
    background-size: 160%;
    background-position: 0px 0px;
	}
}

.sign-x {
    background-color: transparent !important;
}

.sign-x>main{
    overflow: hidden;
}
.team-x {
    padding-top: 68px;
    background-color: transparent !important;
}
#team>iframe {
    margin-top: -68px;
}
div.dialog-contents-p {
    visibility: hidden;
    position: fixed;
}
/* portfolio End */

.signin-head, .portfolio-head, .team-head{
    display: none;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
