<div class="blur"></div>
<div class="pol">
  <div class="poly"></div>
  <div class="intro-text">
    <div class="intro-lead-in">Welcome To Our Studio!</div>
    <div class="intro-heading">It's Nice To Meet You</div>
    <div  class="btn-head">
      <a href="#services" class="btn btn-xl">Tell Me More</a>
    </div>
  </div>
</div>
<a href="#home" class="btn-scroll-top"></a>
