<div class="section-wrapper">
	<div class="label-sec partners-l">
		<span>Partners</span>
	</div>
	<div class="section-margin sec">
	<ul class="part-m">
		<li><a href="#" class="partner-logo1 ptr" title="partners title"></a></li>
		<li><a href="#" class="partner-logo2 ptr" title="partners title"></a></li>
		<li><a href="#" class="partner-logo3 ptr" title="partners title"></a></li>
		<li><a href="#" class="partner-logo4 ptr" title="partners title"></a></li>
	</ul>
	</div>
</div>
