<div class="section-wrapper">
			 <div class="label-sec">
				 <span>Services</span>
			 </div>
		 <div class="section-margin sec s-sec">
			 <div class="glass"></div>
			 <div class="item-wrapper">
				 <div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Webmaster</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c1">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Webmaster</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
				</div>
				 <div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Graphics</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c2">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Graphics</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
				</div>
				 <div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Animation</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c3">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Animation</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
				</div>
				 <div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Marketing</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c4">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Marketing</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
				</div>
				 <div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Software</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c5">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Software</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
				</div>
				<div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Security</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c6">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Security</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
				</div>
				 <div class="dialog-btn item">
					 <div class="item-head">
						 <div class="item-label">
							 <div class="icons serv1-icon"></div>
							 <span class="title">Android/ iOS</span>
						 </div>
						 <div class="item-description">Lorem Ipsum dolor amit sit.</div>
					 </div>
				 </div>
				<div class="dialog-contents">
					<div class="dialog-header c7">
							<div class="icons d-icon"></div>
						<div class="p-item-label">
							<div class="p-item-name">Android/ iOS</div>
							<div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
						</div>
					</div>
					<div class="dialog-content"></div>
			 </div>
			 <div class="dialog-btn item">
					<div class="item-head">
						<div class="item-label">
							<div class="icons serv1-icon"></div>
							<span class="title">Arduino</span>
						</div>
						<div class="item-description">Lorem Ipsum dolor amit sit.</div>
					</div>
				</div>
			 <div class="dialog-contents">
				 <div class="dialog-header c1">
						 <div class="icons d-icon"></div>
					 <div class="p-item-label">
						 <div class="p-item-name">Arduino</div>
						 <div class="p-item-position">We create high end Proffesional Website for sit dolor..</div>
					 </div>
				 </div>
				 <div class="dialog-content"></div>
			 </div>
		 </div>
		</div>
		<script>	$("div.dialog-content").load("strings/dummy-services.txt");</script>
