<div class="team-head">
		<div class="sc-logo icons"></div>
		<div class="tm-menu-btn team bar-click">
				<div class="web-b bar bar-t"></div>
				<div class="web-b bar"></div>
				<div class="web-b bar bar-b"></div>
		</div>
		<div class="tm-title">Our Amazing Team</div>
	</div>
		<div class="cards tm-card">
			<div class="portfolio-wrapper">
			</div>
		</div>
	 </main>
	 <div id="notify"></div>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/memberParser.js"></script>
